<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="dyi">
      <div class="datos">
        <img class="cara" src="images/foto.png" alt="Foto de mi cara" align="middle">

        <h2>Datos</h2>
        <hr>
          <p><strong>Nombre:</strong> Jose Julian Castillo Hernandez</p>
          <p><strong>Cedula:</strong> V-30.276.873</p>
          <p><strong>Nacimiento:</strong> 10 de Octubre del 2003</p>
          <p><strong>Residencia:</strong> Villa de Cura, Edo. Aragua, Venezuela</p>

        <h2>Cotacto</h2>
        <hr>
            <nav>
              <a href="https://api.whatsapp.com/send?phone=04124613298" target="_blank" rel="noopener noreferrer"><img src="images/ws.png" width="30px" alt="Logo de whatsapp" align="middle"> Whatsapp</a>
              <br>      
              <a href="mailto:florida3437@gmal.com?subject=Me interesa solicitar tu servicios&"><img src="images/correo.png" width="30px" alt="Logo de Gmail" align="middle"> Gmail</a>
              <br>
              <a href="https://www.instagram.com/josejcastilloh/?hl=es" target="_blank" rel="noopener noreferrer"><img src="images/instagram.png" width="30px" alt="Logo de instagram" align="middle"> Instagram</a>
           </nav>
      </div>
      <div class="informacion">
        <h1>Jose Julian Castillo Hernandez</h1>
        <hr>
        <h2>Sobre Mi...</h2>
          <p>Programador principiante, sin experiencia laboral (nunca he trabajado para una empresa o comercio, etc). Dispuesto a dar el mejor desempeño posible. Con poca experiencia de trabajo por propia cuenta, en el mantenimiento del computador, la instalación de software y sistema operativo.</p>

        <h2>Habilidades</h2>
          <p>
           <ul>
              <li>Dispuesto al trabajo en equipo.</li>
              <br>
              <li>Flexibilidad y adaptación.</li>
              <br>
              <li>Conocimientos en los lenguajes de programación :</li>                <br>
              <label><img src="images/html.png" width="40px" alt="Logo de html" align="middle"><strong>HTML</strong></label>
              <progress value="45" min ="0" max="100"></progress>
              <br>
              <label><img src="images/css.png" width="40px" alt="Logo de CSS" align="middle"><strong>CSS</strong></label>
              <progress value="25" min ="0" max="100"></progress>
              <br>
              <label><img src="images/JS.png" width="40px" alt="Logo de JavaScript" align="middle"><strong>JavaScript</strong></label>                <progress value="20" min ="0" max="100"></progress>
            </ul>
          </p>
        <h2>Formación</h2>
            <p><strong>Bachillerato (2015-2020)</strong>
            <br>
            U.E.N Alberto Smith, ubicado en Villa de Cura, Estado Aragua.
            <br>
            <strong>Ingeniería en Informáitca (2020-En Progreso)</strong>
            <br>
            Universidad Nacional Experimental Rómulo Gallegos, ubicado en San Juan de los Morros, Estado Guarico.              
          </p>
      </div>
    </div>
  </body>
</html>
